<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="build.agcy.test1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- location permissions -->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- gcm permissions -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="build.agcy.test1.permission.C2D_MESSAGE" />

    <permission
        android:name="build.agcy.test1.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="build.agcy.test1.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <application
        android:largeHeap="true"
        android:name=".EatWithMeApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="EatWithMe"
        android:theme="@style/AppTheme.Violet">
        <activity
            android:theme="@style/NoActionBarTheme"
            android:name=".Start.StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Meetings.MapActivity"
            android:label="Meetings" />
        <activity
            android:name=".Meetings.MeetingActivity"
            android:label="@string/title_activity_meeting" />
        <activity
            android:name=".Users.UserListActivity"
            android:label="@string/title_activity_user_list" />
        <activity
            android:name=".Users.UserActivity"
            android:label="@string/title_activity_user" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAXFmyiU0BWRu7gDlYBf82IBMchmIXKT50" />
        <!--android:value="AIzaSyBV6Kul7Ybt_7yeEd6Im7gSjN_0fNu_Psw" />-->

        <!--android:permission="com.google.android.c2dm.permission.SEND"-->
        <!--<receiver-->
        <!--android:name=".Core.GCM.GCMBroadcastReceiver"-->
        <!--android:permission="com.google.android.c2dm.intent.RECEIVE" >-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
        <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

        <!--<category android:name="build.agcy.test1" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <receiver
            android:name=".Core.GCM.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="build.agcy.test1" />
            </intent-filter>
        </receiver>
        <service android:name=".Core.GCM.GCMIntentService" />
        <!--<receiver android:name=".Core.GCM.GCMBroadcastReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
        <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION" />-->

        <!--<category android:name="build.agcy.test1" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service android:name=".Core.GCM.GCMIntentService" />

        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>
